div{
    width:80% ;
    height:1000 px ;
    background-color:lightblue ;

}
p{

    padding: 20px; ;
    color: black;
}
/* descendant selector */

div p{
    text-align: center;
}
div #p1{
    color: darkred;
    text-decoration: line-through;
}
#s1{
    text-decoration: underline;
    font-size: 20px;
}
#p2{
    background-color: black;
    font-size: 50px;
    text-shadow: 4px 4px 4px red;
}
#h1{
    color: blue;
    text-align: center;
}